<p><%=@test%></p>

sun.infopeers.net
<iframe src="http://sun.infopeers.net/sshare/iframe"></iframe>

<hr>

ssharetest.infopeers.net:
<iframe src="http://ssharetest.infopeers.net/iframe"></iframe>
ssharetest2.infopeers.net:
<iframe src="http://ssharetest2.infopeers.net/iframe"></iframe>

<hr>

local:
<iframe src="iframe"></iframe>

lvh.test2:
<iframe src="http://test2.lvh.me:3000/iframe"></iframe>